src/data/sentiment140/training.1600000.processed.noemoticon.csv
src/data/sentiment140/sentiment140_archive.zip
src/data/sentiment140/archive.zip
__pycache__/

src/data/
src/models/*.joblib

src/data/
src/models/*.joblib
artifacts/
.env
**/.env